doctype html
html
  head
    title= title
    link(rel='stylesheet', href='style.css')
  body
    img(src='/images/1.png')
    img(src='/images/2.png')
    img(src='/images/3.png')
    img(src='/images/4.png')
    img(src='/images/5.png')
    img(src='/images/6.png')
    img(src='/images/7.png')
    .link-wrap
      a(href='http://m.jimubox.com/activity/spring/app?__inline',)
        img(src='/images/8.png',class='replay-btn')
      p.first 拒绝做理财小白！
      p 注册就送10-1000元现金礼包哦！  
